---
import { getCollection } from "astro:content";

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const screenshots = await getCollection('screenshot');
screenshots.sort((s1, s2) => {
	if (s1.filePath! < s2.filePath!) {
		return -1;
	};
	if (s1.filePath! > s2.filePath!) {
		return 1;
	};
	return 0;
});
---

<Layout title="nostalgia">
<main class="bg-[#C0C0C0] mt-2 max-w-6xl m-auto flex flex-col gap-2 border-2 border-t-slate-100 border-l-slate-100 border-r-slate-500 border-b-slate-500">
	<div class="bg-[#000080] text-white font-bold items-center flex h-8 flex-row justify-between">
		<h1>💾 nostalgia.janosilles.com</h1>
		<div class="bg-[#C0C0C0] gap-2 border-2 border-t-slate-100 border-l-slate-100 border-r-slate-500 border-b-slate-500">
			<a href="https://github.com/ijanos/nostalgia/" target="_blank">
				<img class="h-6" src="github-mark.svg"/>
			</a>
		</div>
	</div>
	<div class="prose">
		Looking at old screenshots of mine fills me with nostalgia. Maybe someone else will find them interesting so
		I'm making them public.
		You may be interested in
		my <a class="underline" href="https://github.com/ijanos/dotfiles/commit/7e7195d970324bf85d97822e485927c767152d05" target="_blank">dotfiles repo</a> which I maintain since 2010.
	</div>
	<div class="flex p-1 flex-col gap-2" id="gallery">
		{ screenshots.map((screenshot) => <Card screenshot={ screenshot } />) }
	</div>

</main>
</Layout>

<script>
import PhotoSwipeLightbox from 'photoswipe/lightbox';
import 'photoswipe/style.css';

const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a.gallery',
  pswpModule: () => import('photoswipe')
});
lightbox.init();
</script>
