---
import { getCollection } from "astro:content";

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const screenshots = await getCollection('screenshot');
---

<Layout title="nostalgia">
<main class="bg-[#C0C0C0] max-w-6xl m-auto flex flex-col gap-2 p-2 border-2 border-t-slate-100 border-l-slate-100 border-r-slate-500 border-b-slate-500">
	<h1 class="bg-[#000080] text-white font-bold">N O S T A L G I A</h1>
	<div>
		My computing enviroments through the years.
	</div>

	{ screenshots.map((screenshot) => <Card screenshot={screenshot} />) }

</main>
</Layout>
