---
import type { CollectionEntry } from 'astro:content';
interface Props {
  screenshot: CollectionEntry<'screenshot'>;
}

const { screenshot } = Astro.props;
const { Content } = await screenshot.render();

---
<div class="border-2 border-t-slate-100 border-l-slate-100 border-r-slate-500 border-b-slate-500 flex gap-2 flex-wrap p-1">
	<div class="basis-2/5 grow">
		<img src={screenshot.data.image.src} loading="lazy" />
	</div>
	<div class="basis-3/5 prose prose-stone grow">
		<Content />
	</div>
</div>
