---
import { render, type CollectionEntry } from 'astro:content';

interface Props {
  screenshot: CollectionEntry<'screenshot'>;
}

const { screenshot } = Astro.props;
const { Content } = await render(screenshot);
---
<div class="border-2 border-t-slate-100 border-l-slate-100 border-r-slate-500 border-b-slate-500 flex gap-2 flex-wrap p-1">
	<div class="basis-2/5 grow">
		<a class="gallery" href={screenshot.data.image.src}
		   data-pswp-width={screenshot.data.image.width}
		   data-pswp-height={screenshot.data.image.height} >
			<img src={screenshot.data.image.src} class="outline-dashed outline-gray-500 outline-1 transition ease-in-out hover:scale-105" loading="lazy" />
		</a>
	</div>
	<div class="basis-3/5 prose prose-stone grow prose-code:text-wrap">
		<Content />
	</div>
</div>
