---
import type { CollectionEntry } from 'astro:content';
interface Props {
  screenshot: CollectionEntry<'screenshot'>;
}

const { screenshot } = Astro.props;
const { Content } = await screenshot.render();

---
<div class="border-2 border-t-slate-100 border-l-slate-100 border-r-slate-500 border-b-slate-500 flex gap-2 flex-wrap p-1">
	<div class="basis-2/5 grow">
		<a class="gallery" href={screenshot.data.image.src}
		   data-pswp-width="1024"
		   data-pswp-height="768" >
			<img src={screenshot.data.image.src} class="outline-dashed outline-1 transition ease-in-out hover:scale-105" loading="lazy" />
		</a>
	</div>
	<div class="basis-3/5 prose prose-stone grow prose-code:text-wrap">
		<Content />
	</div>
</div>
